<header class="site-header">
  <div class="header-inner">
    <div class="header-left">
      <a href="{{ site.baseurl }}" class="logo-link" aria-label="Home">
        <span
          class="logo-mask"
          style="
            -webkit-mask-image: url('{{ site.baseurl }}/assets/icons/ha.svg');
                    mask-image: url('{{ site.baseurl }}/assets/icons/ha.svg');
          "
        ></span>
      </a>
    </div>

    <div class="header-center">
      <span class="header-title">AI &amp; Data Engineer</span>
    </div>

    <div class="header-right">
      <img src="{{ site.baseurl }}/assets/images/profile.jpg" alt="Profile" class="profile-image">
    </div>
  </div>
</header>
